.DS_Store
node_modules
/dsite
/dist
dist.rar
dist.zip

# local env files
.env.local
.env.*.local

# jsconfig
jsconfig.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.rar
